<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ALCHEMAX</title>
    <!--materials icons CDN-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--CSS file-->
    <link rel="stylesheet" href="/public/css/style.css">
    <!--javascript file-->
    <script rel="text/javascript" src="/public/js/functionality.js"></script>
</head>
<body>

</body>
</html>