<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ALCHEMAX</title>
    <!--materials icons CDN-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--CSS file-->
    <link rel="stylesheet" href="/public/css/style.css">
    <!--javascript file-->
    <script rel="text/javascript" src="/public/js/functionality.js"></script>
</head>
<body>
    <div class="wrapper">
        <!--Sidebar container-->
        <div id="sidenav" class="sidenav">
            <a class="closebtn" onclick="closeNav()"><i class="material-icons md-48">close</i></a>
            <div class="sidemenu">
                <a href="#" class="active"><i class="material-icons"></i>HOME</a>
                <a href="#"><i class="material-icons"></i>BOOK</a>
                <a href="#"><i class="material-icons"></i>OFFERS</a>
                <a href="#"><i class="material-icons"></i>FAQs</a>
                <a href="#"><i class="material-icons"></i>ABOUT US</a>
                <a href="#"><i class="material-icons"></i>ASSISTANCE</a>
            </div>
        </div>
        <!-- Page Content Holder -->
        <div id="content">
            <!--topnavbar-->
            <div id="topnav" class="topnav">
                <div class="ham-menu">
                    <a onclick="openNav()"><i class="material-icons md-48">menu</i></a>
                </div>
                <div class="comp-logo">
                    <img src="/public/resources/images/logo.png">
                </div>
                <div class="topnav-right">
                    <a href="#">BOOK</a>
                    <a href="#">OFFERS</a>
                    <a href="#">FAQs</a>
                    <a href="#">ABOUT US</a>
                    <a href="#">ASSISTANCE</a>
                </div>
            </div>
            <div class="main-left">
                <div class="form">
                    <p>Book your spacecraft ticket</p>
                    <form>
                        <select class="from-origin">
                            <option value="" disabled selected>SELECT</option>
                            <option>Mars</option>
                            <option>Earth</option>
                            <option>Moon</option>
                            <option>United Colonies Assembly</option>
                        </select>
                        <a href="#" class=""><i class="material-icons md-48 submit-button md-light">navigate_next</i></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>