<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ALCHEMAX</title>
    <!--materials icons CDN-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--CSS file-->
    <link rel="stylesheet" href="../public/css/spaceship_list.css">
    <!--javascript file-->
    <script rel="text/javascript" src="../public/js/functionality.js"></script>
</head>
<body>
    <div class="wrapper">
        <!--Sidebar container-->
        <div id="sidenav" class="sidenav">
            <a class="closebtn" onclick="closeNav()"><i class="material-icons md-48">close</i></a>
            <div class="sidemenu">
                <a href="index.html" ><i class="material-icons"></i>HOME</a>
                <a href="from.html"><i class="material-icons"></i>BOOK</a>
                <a href="#"><i class="material-icons"></i>OFFERS</a>
                <a href="#" class="active"><i class="material-icons"></i>FAQs</a>
                <a href="#"><i class="material-icons"></i>ABOUT US</a>
                <a href="#"><i class="material-icons"></i>ASSISTANCE</a>
            </div>
        </div>
        <!-- Page Content Holder -->
        <div id="content">
            <!--topnavbar-->
            <div id="topnav" class="topnav">
                <div class="ham-menu">
                    <a class="ham" onclick="openNav()"><i class="material-icons md-48">menu</i></a>
                </div>
                <div class="comp-logo">
                    <img src="../public/resources/images/logo.png">
                </div>
                <div class="topnav-right">
                    <a class="active" href="from.html">BOOK</a>
                    <a href="#">OFFERS</a>
                    <a  href="#">FAQs</a>
                    <a href="#">ABOUT US</a>
                    <a href="#">ASSISTANCE</a>
                </div>
            </div>
            <div class="total-body">
                <div class="top-head">
                    <div class="heading">
                        <h3>Select Preferred Spaceship</h3>
                    </div>
                    <div class="search">
                        <input type="search" placeholder="search the spaceship">
                        <a href="#"><i class="material-icons md-48 md-light searchicon">search</i></a>
                    </div>
                </div>
                <div class="space-card">
                    <div class="space-each">
                        <a href= "extras.html" id="to-link" onclick="">
                            <div class="space-img">
                                <img src="../public/resources/images/ship-1.png" width="100%" height="auto">
                            </div>
                            <div class="space-right">
                                <p id="text-name">EX-39</p>
                                <div class="space-box">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="space-each">
                        <a href= "extras.html" id="to-link" onclick="">
                            <div class="space-img">
                                <img src="../public/resources/images/ship-2.jpg" width="100%" height="auto">
                            </div>
                            <div class="space-right">
                                <p id="text-name">Millenium Zion</p>
                                <div class="space-box">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="space-each">
                        <a href= "extras.html" id="to-link" onclick="">
                            <div class="space-img">
                                <img src="../public/resources/images/ship-3.jpg" width="100%" height="auto">
                            </div>
                            <div class="space-right">
                                <p id="text-name">Warp Bus</p>
                                <div class="space-box">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="space-each">
                        <a href= "extras.html" id="to-link" onclick="">
                            <div class="space-img">
                                <img src="../public/resources/images/ship-4.jpg" width="100%" height="auto">
                            </div>
                            <div class="space-right">
                                <p id="text-name">BFB</p>
                                <div class="space-box">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="space-each">
                        <a href= "extras.html" id="to-link" onclick="">
                            <div class="space-img">
                                <img src="../public/resources/images/ship-5.jpg" width="100%" height="auto">
                            </div>
                            <div class="space-right">
                                <p id="text-name">Genesis X9</p>
                                <div class="space-box">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="space-each">
                        <a href= "extras.html" id="to-link" onclick="">
                            <div class="space-img">
                                <img src="../public/resources/images/ship-6.png" width="100%" height="auto">
                            </div>
                            <div class="space-right">
                                <p id="text-name">Noah’s Ark</p>
                                <div class="space-box">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>